<html>
<head>
    <title>Tetris</title>
    <style>
      body {
        background: #202028;
        color: #fff;
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
      }
      canvas {
        border: solid .2em #fff;
        height: 90vh;
      }
    </style>
</head>
<body>
    <div id="score"></div>
    <canvas id="tetris" width="240" height="400" />
    <script src="\static\JS\tetris.js"></script>

<headder>
<table>
  <tr>
    <th>Action:</th>
    <th>Key Bindings:</th>
  </tr>
  <tr>
    <td>Turning blocks:</td>
    <td>W-key</td>
  </tr>
  <tr>
    <td>decending faster:</td>
    <td>down arrow key</td>
  </tr>
  <tr>
    <td>moving left:</td>
    <td>left arrow key</td>
  </tr>
  <tr>
    <td>moving right:</td>
    <td>right arrow key</td>
  </tr>
</table>
</headder>
</body>
</html>